{{ template "header" .}}
<div align="center">
<form action="/filterads" 
method="post" enctype="application/x-www-form-urlencoded">
Название
<input type="text" size="46" name="title"/>
Минимальная цена
<input type="number" name="minprice"/>
Максимальная цена
<input type="number" name="maxprice"/>
Тип объявления
<select  name="category"> 
    <option>IT, интернет, телеком</option>
    <option>Бытовые услуги</option>
    <option>Деловые услуги</option>
    <option>Искусство</option>
    <option>Красота, здоровье</option>
    <option>Курьерские поручения</option>
    <option>Мастер на час</option>
    <option>Няни, сиделки</option>
    <option>Оборудование, производство</option>
    <option>Обучение, курсы</option>
    <option>Охрана, безопасность</option>
   </select><br>   
   <br>  
   <input type="submit" value="фильтруй"/> 
  
{{ range .Ads }} 
<h1>  <li><b><a href="/ad/{{ .ID }}">{{ .Title }}</a> </b><br></h1>  
    Цена: {{ .Price}} 
    Время выполнения: {{ .Time}}
 
    </li> 
{{else}} 
    <li><b>нет объявлений</b></li>
{{end}} 
</div>
<!-- <h2 > <a href="/hello">ссылка</a></h2> -->
{{ template "footer" .}} 
