{{ template "header" .}}
<h1>Новое предложение</h1>

<form action="/createAd" 
method="post" enctype="application/x-www-form-urlencoded">
Название<br>
<input type="text" size="46" required name="title"/><br>
Цена<br>
<input type="number" name="price"/><br>
Время выполнения(минуты)<br>
<input type="number" name="time"/><br>
Тип объявления<br>
<select  name="category"> 
    <option>IT, интернет, телеком</option>
    <option>Бытовые услуги</option>
    <option>Деловые услуги</option>
    <option>Искусство</option>
    <option>Красота, здоровье</option>
    <option>Курьерские поручения</option>
    <option>Мастер на час</option>
    <option>Няни, сиделки</option>
    <option>Оборудование, производство</option>
    <option>Обучение, курсы</option>
    <option>Охрана, безопасность</option>
   </select><br>   
Комментарий<br> 
<textarea name="comment"/>  
</textarea> <br>
<input type="submit"/> 
</form>
{{ template "footer" .}} 